<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beranda</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="navbar">
        <a href="#">PISTACHIO</a>
    </div>
    <div class="container">
        <h1>Selamat Datang di Aplikasi Klasifikasi Gambar Pistachio</h1>
        <p>Gunakan tombol di bawah untuk menuju halaman prediksi gambar.</p>
        <button onclick="window.location.href='/predict'" class="nav-button">Prediksi Gambar</button>
    </div>
</body>
</html>
